ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.csproj.FileListAbsolute.txt
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.csproj.CoreCompileInputs.cache
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.csproj.CopyComplete
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.assets.cache
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.RazorTargetAssemblyInfo.cache
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.MvcApplicationPartsAssemblyInfo.cs
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.MvcApplicationPartsAssemblyInfo.cache
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.GeneratedMSBuildEditorConfig.editorconfig
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.AssemblyInfoInputs.cache
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.AssemblyInfo.cs
ToDoApp_backend/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
ToDoApp_backend/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ToDoApp_backend/bin/Debug/net5.0/runtimes/win/lib/netstandard2.0/System.Runtime.Caching.dll
ToDoApp_backend/bin/Debug/net5.0/ToDoApp_backend.runtimeconfig.json
ToDoApp_backend/bin/Debug/net5.0/ToDoApp_backend.runtimeconfig.dev.json
ToDoApp_backend/bin/Debug/net5.0/ToDoApp_backend.pdb
ToDoApp_backend/bin/Debug/net5.0/ToDoApp_backend.exe
ToDoApp_backend/bin/Debug/net5.0/ToDoApp_backend.dll
ToDoApp_backend/bin/Debug/net5.0/ToDoApp_backend.deps.json
ToDoApp_backend/bin/Debug/net5.0/System.Security.Cryptography.ProtectedData.dll
ToDoApp_backend/bin/Debug/net5.0/System.Runtime.Caching.dll
ToDoApp_backend/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
ToDoApp_backend/bin/Debug/net5.0/System.Diagnostics.DiagnosticSource.dll
ToDoApp_backend/bin/Debug/net5.0/System.Configuration.ConfigurationManager.dll
ToDoApp_backend/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
ToDoApp_backend/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
ToDoApp_backend/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
ToDoApp_backend/bin/Debug/net5.0/Newtonsoft.Json.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.OpenApi.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.Identity.Client.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.Extensions.DependencyInjection.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.SqlServer.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Relational.dll
ToDoApp_backend/obj/project.nuget.cache
ToDoApp_backend/obj/project.assets.json
ToDoApp_backend/obj/ToDoApp_backend.csproj.nuget.g.targets
ToDoApp_backend/obj/ToDoApp_backend.csproj.nuget.g.props
ToDoApp_backend/obj/ToDoApp_backend.csproj.nuget.dgspec.json
ToDoApp_backend/obj/Debug/net5.0/staticwebassets/ToDoApp_backend.StaticWebAssets.xml
ToDoApp_backend/obj/Debug/net5.0/staticwebassets/ToDoApp_backend.StaticWebAssets.Manifest.cache
ToDoApp_backend/obj/Debug/net5.0/ref/ToDoApp_backend.dll
ToDoApp_backend/obj/Debug/net5.0/apphost.exe
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.pdb
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.genruntimeconfig.cache
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.dll
ToDoApp_backend/obj/Debug/net5.0/ToDoApp_backend.csprojAssemblyReference.cache
ToDoApp_backend/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ToDoApp_backend/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.pdb
ToDoApp_backend/bin/Debug/net5.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
ToDoApp_backend/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.pdb
ToDoApp_backend/bin/Debug/net5.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
ToDoApp_backend/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.pdb
ToDoApp_backend/bin/Debug/net5.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
ToDoApp_backend/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.pdb
ToDoApp_backend/bin/Debug/net5.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
ToDoApp_backend/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ToDoApp_backend/bin/Debug/net5.0/ref/ToDoApp_backend.dll
ToDoApp_backend/bin/Debug/net5.0/appsettings.json
ToDoApp_backend/bin/Debug/net5.0/appsettings.Development.json
ToDoApp_backend/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Design.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.EntityFrameworkCore.Abstractions.dll
ToDoApp_backend/bin/Debug/net5.0/Microsoft.Data.SqlClient.dll
ToDoApp_backend/bin/Debug/net5.0/Humanizer.dll
ToDoApp_backend/bin/Debug/net5.0/AutoMapper.dll
ToDoApp_backend/Properties/launchSettings.json
ToDoApp_backend/.vs/ToDoApp_backend/v16/.suo
ToDoApp_backend/.vs/ToDoApp_backend/config/applicationhost.config
ToDoApp_backend/.vs/ToDoApp_backend/DesignTimeBuild/.dtbcache.v2
ToDoApp_backend/appsettings.Development.json
ToDoApp_backend/appsettings.json
